.main-footer {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  background-color: $textcolor;
  padding: 35px 0;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
  @media (min-width: 767.98px) {
    text-align: left;
  }
}


.social-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 1em;
  @media (min-width: 767.98px) {
    justify-content: flex-start;
    margin-top: 0;
  }
  li {
    display: inline-block;
    margin-left: 1em;
    &:first-child {
      margin-left: 0;
    }
  }
}